.vs
Logs
Temp
Library
obj
UnityFBXExporter
Assets/UnityFBXExporter\.meta

Assets/Prefabs/hhhhhhhh\.7z

Assets/Prefabs/hhhhhhhh\.7z\.meta
Assembly-CSharp-Editor\.csproj

Assembly-CSharp\.csproj

Oculus\.VR\.csproj

Oculus\.VR\.Editor\.csproj

Oculus\.VR\.Scripts\.Editor\.csproj
